*{
    margin:0px; /*Skapar mellanrum runt element*/
    padding:0px; /*Skapar mellanrum runt element, innanför borders*/
    box-sizing:border-box; /*Gör att "padding" och "border" kan inkluderas i höjden och bredden*/
    font-family:'Courier New'; /*Bestämmer vilken font en text ska ha*/
    margin-left:5px; /*Skapar mellanrum runt element på vänster sida*/
}

/*LoVe Focus HAte*/

a:link{ /*När man trycker på obesökta länkar*/
    color:rgb(255, 255, 255); /*Ger en viss färg till länken*/
} 

a:visited{ /*När man har besökt länken*/
    color:rgb(226, 11, 208); /*Ger en viss färg till länken*/
}

a:focus{ /*När man t.ex använder tab-funktionen på tangentbordet så lyser länkarna med grön färg*/
    color:rgb(19, 228, 19); /*Ger en viss färg till länken*/
}

a:hover{ /*När muspekaren ligger på länken*/
    color:aqua; /*Ger en viss färg till länken*/
}

a:active{ /*När länken är nedtryckt*/
    color:black; /*Ger en viss färg till länken*/
}

nav{
    width:100%; /*Bestämmer bredd på vår navbar*/
    height:75px; /*Bestämmer höjd på vår navbar*/
    background-color:rgb(107, 102, 102); /*Bestämmer bakgrundsfärg på vår navbar*/
    line-height:75px; /*Bestämmer linje-höjd på vår navbar*/
    padding:0px 100px; /*Skapar mellanrum runt element, innanför borders*/
}

nav .Logo{
    font-size:45px; /*Bestämmer storlek på text*/
    font-weight:bold; /*Bestämmer tjocklek på text*/
    letter-spacing:1.5px; /*Bestämmer avståndet mellan varje bokstav i en text*/
}

nav .Logo h1{
    float:left; /*Gör att elementet "flyter" åt vänster*/
    color:azure; /*Bestämmer färg på vår logga*/
}

nav ul{
    float:right; /*Gör att vår icke-ordnade lista "flyter" åt höger*/
}

nav ul li{
    display:inline-block; /*Gör att våra list-objekt kan anta enga höjd- och breddvärden*/
    list-style:none; /*Gör att vår lista inte får ett standardvärde*/
}

nav ul li a{
    color:rgb(255, 255, 255); /*Bestämemr färg på våra länkar*/
    text-decoration:none; /*Tar bort all standard-dekoration på texten*/
    font-size:20px; /*Bestämmer storlek på text*/
    font-weight:bold; /*Bestämmer tjocklek på text*/
    text-transform:uppercase; /*Gör att våra länkar består av stora bokstäver*/
    padding:0px 120px; /*Skapar mellanrum runt element, innanför borders*/
}

div.Forms{
    color:#ffffff; /*Bestämmer färg på texterna*/
    font-weight:1000; /*Bestämmer tjocklek på text*/
    font-size:larger; /*Bestämmer storlek på text*/
    font-family:'Courier New'; /*Bestämmer vilken font en text ska ha*/
}

body {
    background-image:url("wow.jpg"); /*Lägger en viss bild som bakgrundsbild*/
    background-size:cover; /*Får bakgrundsbilden att täcka hela bakgrunden*/
   }